@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.877);
  --spacing: 350px;

  backdrop-filter: blur(10px);
  border-radius: 10px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

nav {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
    width: 700px;
    border-radius: 5px;
  }

  blockquote p {
    color: black;
    background-color: rgb(43, 189, 226);
    text-align: center;
    border-radius: 5px;
    font-size: 3rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

  .left h2 {
    text-align: center;
    font-size: 50px;
  }

  .Accomplishments {
    display: flex;
    justify-content: center;
    margin-left: 10px;
  }

  .Accomplishments h1 {
    font-size: 19px;
    font-family: Arial;
  }

  .Accomplishments h2 {
    font-size: 19px;
    font-family: Arial;
  }

  a {
    color: white;
  }

.palestTulip {fill:#F2AABD;}
.paleTulip {fill:#F27990;}
.tulip {fill:#CC2954;}
.darkTulip {fill:#A51138;}
.darkestTulip {fill:#7C0826;}
.mouse {fill:rgba(15, 15, 15, 0.808);}

.turn-01, .turn-02, .turn-03, .turn-04, .turn-05, .turn-06{
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: 50% 50%;
}

.turn-01 { animation-name: turnOne;}
.turn-02 { animation-name: turnTwo;}
.turn-03 { animation-name: turnThree;}
.turn-04 { animation-name: turnFour;}
.turn-05 { animation-name: turnFive;}

@keyframes turnOne {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}
@keyframes turnTwo {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@keyframes turnThree {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(540deg);}
}
@keyframes turnFour{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(720deg);}
}
@keyframes turnFive {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(900deg);}
}